/*
 * allDevices.css: styles for all devices
 */
body {
	background-color: #ffffff;
	color:            #000000;
	font-family:      Verdana, Arial, Helvetica, sans-serif;
}
div#content {
	position: relative;
	text-align:  left;
}

h1, h2 {
	text-align:  center;
}
h1 {
	font: bold 32px/40px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
h2 {
	font: bold 24px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
h3 {
	font: bold 20px/25px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align:  left;
	text-decoration: underline;
}
p, ul, li, a {
	font: 16px/20px Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
.linkHref {
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
