/*
 * showBorders.css: it is interesting to experiment with these.
 * Long strings without punctuation or whitespace can cause browsers in
 * mobile devices to ignore font sizes etc.
 */
body {
	border: 1px solid black;
	width: 100%;
}
div#container {
	border: 1px solid green;
	margin: 10px;
	width: 100%;
}
p, ul {
	border: 1px solid blue;
	width: 100%;
}
